body {
  background-color: #e7e7e7;
  margin: 0;
};

.wrapper {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 10px;

};


.content {
  margin: 0px 7px;
};

.heading {
  margin: 0px auto 20px;
  width: 600px;
  height: 1250px;
  border: 4px solid black;
  background-color: white;
};


h1,h2 {
  text-align: center;
};

h1 {
  font-family: 'Graduate' , sans-serif;
  font-size: 80px;
};

h2 {
  font-size: 30px; 
};


footer{
  width: 100%;
  height: 30px;
  padding: 10px;
  background: white;
  color: black;
  border: 4px solid black;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  bottom: 0;  
  
}
