html, body {
  background-color: lightgrey;
  margin: 0;
  font-family: 'Alegreya' , cursive;
}

.wrapper {
  display: grid;
  grid-template-rows: auto;
}


.heading {
  width: 100%;
  height: 250px;
  border: 4px solid black;
  background-color: white;
}


h1,h2 {
  text-align: center;
}

h1 {
  font-family: 'Graduate' , sans-serif;
  font-size: 60px;
}

.content > div > h3 {
  text-align: center;
  background-color: #ddffff;  
  border-left: 8px solid black ;
}

.content p, 
.content p > b {
  margin: 0px 100px;
}



footer {
  margin-top: 20px;
  width: 100%;
  height: 60px;
  background: white;
  color: black;
  border: 4px solid black;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  bottom: 0;  
}


@media only screen and (min-width : 500px) and (max-width : 1024px) {
  html, body {
      background-color: lightblue;
  }
}

@media only screen and (min-width : 1025px) {
  html, body {
      background-color: lightgoldenrodyellow;
  }

  h1 {
    font-size: 80px;
  }

  /* a grid in a grid for content section*/
}