body{
  background-color: lightgray;
  margin: 0;
}

.wrapper {
  max-width: 620px;
  display: grid;
  grid-template-columns: repeat (2, 1fr);
  grid-template-rows: repeat (5, clearçç1fr);
  grid-row-gap: 10px;

}


.content {
  margin: 0px 7px;
}

.heading {
  margin: 0px auto 20px;
  width: 600px;
  height: 250px;
  border: 4px solid black;
  background-color: white;
}

h1,h2 {
  text-align: center;
}

h1 {
  font-family: 'Graduate' , sans-serif;
  font-size: 80px;
}

h2 {
  font-family: 'Six+Caps' , cursive;
}


footer{
  width: 100%;
  height: 20px;
  padding: 10px;
  background: white;
  color: black;
  border: 4px solid black;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  bottom: 0;  
}