html, body {
  background-color: #e2f3f7;
  margin: 0;
  font-family: 'Alegreya' , sans-serif;
}

* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
ul {
  padding: 0;
}

.heading {
  width: 100%;
  height: 200px;
  border: 4px solid black;
  background-color: white;
}


h1,h2 {
  font-family: 'Graduate' , sans-serif;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px;
  text-align: center;
}

h1 {
  font-size: 60px;
}

.about_me > h3 {
  margin-top: 0px;
}

.content h3 {
  text-align: center;
  background-color: #d4eef5;
  border-left: 8px solid black;
  border-bottom: 2px solid darkgrey 
}

.content p  {
  margin: 0px 70px;
  font-size: 20px;
}

.projects {
  display: grid;
}

.skills_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}


.skills_item {
  background-color: white;
  border: 4px solid black;
  text-align: center; 
}

.skills_item, .logo {
  width: 150px;
  height: 150px;
  margin: auto;
  overflow: hidden;
}

.logo {
  width: 120px;
}

footer {
  margin-top: 20px;
  width: 100%;
  height: 75px;
  background: white;
  color: black;
  border: 4px solid black;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  align-self: baseline;
}
  
/*-------------------------------------------------------------------------*/
@media only screen and (min-width : 434px) {

  .heading {
    height: 130px;
  }

  .skills_container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
  }

  .skills_item {
    overflow: hidden;
  }

  .skills_item, .logo {
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
    transition: width 3s, height 3s, transform 3s;
  }

  .logo {
    width: 145px;
  }

  .skills_item:hover, .logo {
    border-radius: 0%;
    transition: 3s; 
    transform: rotate(360deg);
  }

}
/*-------------------------------------------------------------------------*/
  @media only screen and (min-width : 1025px) {

  h1 {
    font-size: 80px;
  }

  .heading {
    height: 150px;
  }
 
  .skills_container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
  }

}