html, body {
  background-color: lightgrey;
  margin: 0;
  font-family: 'Alegreya' , cursive;
}

* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}



.heading {
  width: 100%;
  height: 200px;
  border: 4px solid black;
  background-color: white;
}


h1,h2 {
  border-radius: 5px;
  overflow: hidden;
  margin: 5px;
  text-align: center;
}

h1 {
  font-family: 'Graduate' , sans-serif;
  font-size: 60px;
}

.about_me > h3 {
  margin-top: 0px;
}

.content > div > h3 {
  text-align: center;
  background-color: #ddffff;  
  border-left: 8px solid black ;
}

.content p  {
  margin: 0px 70px;
}

.projects {
  display: none;
}


.skills_container{
  display: grid;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 0px 70px;
}

.skills_item {
  background-color: white;
  border: 4px solid black;
  text-align: center; 
  overflow: hidden;
  
}


footer {
  margin-top: 20px;
  width: 100%;
  height: 75px;
  background: white;
  color: black;
  border: 4px solid black;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  align-self: baseline;
}

/*-------------------------------------------------------------------------*/

@media only screen and (min-width : 434px) {
  html, body {
      background-color: lightblue;
  }

  .heading {
    height: 120px;
  }


  .skills_container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-gap: 12px;
  }

  .skills_item, .logo {
    margin: auto;
    width: 200px;
    height: 200px;
    line-height: 200px;
    transition-duration: 3s;
  }

  .skills_item:hover {
    width: 250px;
    height: 250px;
    margin: 0;
    border-radius: 50%;
    transform: rotate(360deg);
  }

  
}
/*-------------------------------------------------------------------------*/

  @media only screen and (min-width : 1025px) {
  html, body {
      background-color: lightgoldenrodyellow;
  }

  h1 {
    font-size: 80px;
  }

  .skills_container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 12px;
  }

  .skills_item {
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin: auto;
    border-radius: 50%;
  }

  .skills_item:hover {
    margin: 0;
    width: 250px;
    height: 250px;
    border-radius: 0%;
    transition-duration: 3s;
    transform: rotate(360deg);
  }
  
}